.sub-menu1{
   display: inline;
   width: 250px;
   margin-right: 20px;
}

.sub-menu1 li{

   display: inline;
   padding-left: 10px;
}
.sub-menu1 li a{
   color: black;
}

.search-wrap{
   display: inline;
   width: 250px;
}